<footer class="rn-footer">
    <div class="rn-footer-container">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-semibold">Awala</p>
                <ul>
                    <li><a href="{% link usuarios/index.md %}">Usuarios</a></li>
                    <li><a href="{% link mensajeros.md %}">Mensajeros</a></li>
                    <li><a href="{% link acerca.md %}">Acerca de Awala</a></li>
                    <li><a href="https://awala.network/legal/">Términos legales (inglés) 🡵</a></li>
                </ul>
            </div>

            <div class="column">
                <p class="has-text-weight-semibold">Participa</p>
                <ul>
                    <li><a href="{% link comunidad.md %}">Comunidad</a></li>
                    <li>
                        <a href="https://twitter.com/LaRedAwala" title="Awala en Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.reddit.com/r/Awala/" title="Awala en Reddit" class="icon">
                            <i class="fab fa-reddit"></i>
                        </a>
                        <a href="https://www.facebook.com/AwalaNetwork" title="Awala en Facebook" class="icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCo-KmDc5Cem1n-6yxYBRmNw" title="Awala en YouTube"
                           class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://github.com/AwalaNetwork" title="Awala en GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column"></div>

            <div class="column">
                <p class="has-text-weight-semibold">Relaycorp</p>
                <ul>
                    <li><a href="https://relaycorp.tech">Contáctanos (inglés) 🡵</a></li>
                    <li>
                        <a
                            href="https://letro.app/es/"
                            title="Parecido al email, pero con cifrado de punta a punta, sin spam, sin suplantación de identidad y no requiere de acceso a Internet"
                        >Letro 🡵</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/RelaycorpHQ" title="Relaycorp en X" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/relaycorp" title="Relaycorp en GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/relaycorp" title="Relaycorp en LinkedIn" class="icon">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rn-footer-legal">
            <p>
                Copyright 2019-2024 by <a href="https://relaycorp.tech">Relaycorp</a>.
            </p>
        </div>
    </div>
</footer>
