<footer class="rn-footer">
    <div class="rn-footer-container">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-semibold">Awala</p>
                <ul>
                    <li><a href="{% link usuarios/index.md %}">Users</a></li>
                    <li><a href="{% link mensajeros.md %}">Couriers</a></li>
                    <li><a href="{% link acerca.md %}">About</a></li>
                    <li><a href="https://awala.network/legal/">Legal (inglés) ↗</a></li>
                </ul>
            </div>

            <div class="column">
                <p class="has-text-weight-semibold">Get involved</p>
                <ul>
                    <li><a href="{% link comunidad.md %}">Community</a></li>
                    <li>
                        <a href="https://twitter.com/AwalaNetwork" title="Awala on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.reddit.com/r/Awala/" title="Awala on Reddit" class="icon">
                            <i class="fab fa-reddit"></i>
                        </a>
                        <a href="https://www.facebook.com/AwalaNetwork" title="Awala on Facebook" class="icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCo-KmDc5Cem1n-6yxYBRmNw" title="Awala on YouTube"
                           class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://github.com/AwalaNetwork" title="Awala on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column"></div>

            <div class="column">
                <p class="has-text-weight-semibold">Relaycorp</p>
                <ul>
                    <li><a href="https://relaycorp.tech">Contact us (inglés) ↗</a></li>
                    <li>
                        <a
                            href="https://letro.app/es/"
                            title="Like email, but end-to-end encrypted, spam-free, phishing-free and works without the Internet too"
                        >Letro ↗</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/RelaycorpHQ" title="Relaycorp on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/relaycorp" title="Relaycorp on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/relaycorp" title="Relaycorp on LinkedIn" class="icon">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rn-footer-legal">
            <p>
                Copyright 2019-2024 by <a href="https://relaycorp.tech">Relaycorp</a>.
            </p>
        </div>
    </div>
</footer>
